altgraph==0.17.3
asgiref==3.6.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi @ file:///C:/ci/certifi_1655907258560/work/certifi
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
DateTime==5.1
Deprecated==1.2.13
Django==4.0.3
finance-datareader==0.9.50
fonttools==4.39.4
idna==3.4
jsonfield==3.1.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pefile==2023.2.7
Pillow==9.5.0
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pykiwoom==0.1.5
pykrx==1.0.41
PyMySQL==1.0.3
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.0
requests==2.30.0
requests-file==1.5.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.2
wincertstore==0.2
wrapt==1.15.0
xlrd==2.0.1
zope.interface==6.0
